.btn-verde
{
  border: 1px solid #8f0;
  background-color: transparent;
  font-family: "Oswald";
  font-size: 14pt;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 1em 2em;
  margin-bottom: 1rem;
  transition: all .3s ease;
}

.btn-verde:hover {
  color: #000;
  background-color: #8f0;
  border-color: transparent;
  transition: all .3s ease;
}

.btn-verde:last-of-type {
  margin-bottom: 0;
}
